doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Home
    body
        include ./header.pug
        main
            h1 JobApp
            section
                h3 Encuentra tu próximo proyecto freelance
                article
                label(for="searchTitle") Busca por título
                    input#searchTitle(type='text' name='searchTitle' placeholder='Busca por título...')
                section#jobsContainer
                    if jobs.length
                        each job in jobs
                            article(data-jobTitle=`${job.title}`)
                                p Title: #{job.title}
                                p Description: #{job.description}
                                p Skills:
                                each skill in job.skills
                                    div
                                        p #{skill}
                                p Client Location: #{job.clientLocation}
                                a(href=`${job.url}` target='_blank')
                                    button(type=button) Visit Offer                              

                
        include ./footer.pug

        script.
            const jobs = !{JSON.stringify(jobs)};
        script(src="/js/scripts.js")